.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #ffff;
    background-clip:border-box ;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 0.25rem;
}
.item img{
    width: 100px;
    height: 80px;
    margin: 5px;
}
.item{
    margin: 0px, 15px;
    text-align: center;
    cursor: pointer;

}
.item a:hover{
    color: blue;
}
.card img{
    width: 300px;
    height: 300px;
    padding: 50px;
}
.card{
 margin: 10px;
}

